# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/

# Archive folder for removed modules
src/archive/

# Jupyter
.ipynb_checkpoints

# Logs and databases
*.log
*.sqlite3

data/raw/
*.csv
